# Ignorar archivos y directorios innecesarios

# Dependencias y módulos descargados
/vendor/
node_modules/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de control de versiones
.git
.gitignore

# Archivos de compilación y binarios
*.exe
*.dll
*.so
*.dylib
*.o
*.out
*.a
*.log

# Archivos temporales de desarrollo
*.tmp
*.swp
*.swo
*.bak
*.old

# Archivos generados por Go
bin/
auth-service

# Archivos de configuración locales
.env